<!-- begin header -->
<app-kick-header></app-kick-header>
<!-- end header -->
<!-- begin title -->
<app-kick-title></app-kick-title>
<!-- end title -->
<!-- begin #content -->
<div id="content" class="content">
  <!-- begin container -->
  <div class="container">
    <!-- begin row -->
    <div class="row row-space-30">
      <!-- begin col-9 -->
      <div class="col-md-9">
        <!-- begin post-list -->
        <ul class="post-list">
          <li>
            <!-- begin post-left-info -->
            <div class="post-left-info">
              <div class="post-date">
                <span class="day">13</span>
                <span class="month">FEB</span>
              </div>
              <div class="post-likes">
                <!-- <i class="fa fa-heart"></i> -->
                <span class="number">2019</span>
              </div>
            </div>
            <!-- end post-left-info -->
            <!-- begin post-content -->
            <div class="post-content">
              <!-- begin post-video -->
              <div class="post-video">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/93Y_eCwdR5k"
                    allowfullscreen></iframe>
                </div>
              </div>
              <!-- end post-video -->
              <!-- begin post-info -->
              <div class="post-info">
                <h4 class="post-title">
                  <a class="post-header" routerLink="/orasada-song-view"><b>திரைப்படம் எதிலும் இடம்பெறாமல் இணையத்தை கலக்கும் பாடல் </b></a>
                </h4>
                <div class="post-by">
                  Posted By <a href="#">Admin</a> <span class="divider">|</span> <a
                    style="font-family: 'Catamaran', sans-serif;" href="#">“ஒரசாதே உசிரத்தான்”</a>, <a href="#">Vivek
                    Siva</a>,
                  <a href="#">Mervin Solomon</a> <span class="divider">|</span> <a href="#">7up Madras Gig</a>
                </div>
                <div class="post-desc">
                  விவேக் சிவா மற்றும் மேர்வின் சொலமன் இவர்கள் இருவரின் இசையமைப்பிலும் 7UP மெட்ராஸ் கி(G)க் ஸ்ரூடியோவின்
                  வெளியீடாகவும் வந்த “ஒரசாதே உசிரத்தான்” எனும் பாடல் இளைய தலைமையின் முணுப்பாக தற்போது எங்கும்
                  ஒலித்துக்கொண்டுள்ளது.
                  <a routerLink="/orasada-song-view">[ . . . ]</a>
                </div>
              </div>
              <!-- end post-info -->
              <!-- begin read-btn-container -->
              <div class="read-btn-container">
                <a routerLink="/orasada-song-view">Read More <i class="fa fa-angle-double-right"></i></a>
              </div>
              <!-- end read-btn-container -->
            </div>
            <!-- end post-content -->
          </li>
        </ul>
        <!-- end post-list -->
        <div class="section-container">
          <!-- begin pagination -->
          <div class="pagination-container">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a class="page-link" href="javascript:;">Prev</a></li>
              <li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
              <li class="page-item"><span class="text">...</span></li>
              <li class="page-item"><a class="page-link" href="javascript:;">1797</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;">Next</a></li>
            </ul>
          </div>
          <!-- end pagination -->
        </div>
      </div>
      <!-- end col-9 -->
      <!-- begin col-3 -->
      <div class="col-md-3">
        <!-- begin section-container -->
        <div class="section-container">
          <div class="input-group sidebar-search">
            <input type="text" class="form-control" placeholder="Search Our Stories..." />
            <span class="input-group-append">
              <button class="btn btn-inverse" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
        <!-- end section-container -->
        <!-- begin section-container -->
        <div class="section-container">
          <h4 class="section-title"><span>Categories</span></h4>
          <ul class="sidebar-list">
            <li><a href="#">Cine News (0)</a></li>
            <li><a href="#">Tamil Movie Reviews (0)</a></li>
            <li><a href="#">Other Movie Reviews (0)</a></li>
            <li><a href="#">New Trailers (0)</a></li>
            <li><a href="#">New Teasers (0)</a></li>
            <li><a href="#">You Tube Trendings (0)</a></li>
          </ul>
        </div>
        <!-- end section-container -->
        <!-- begin section-container -->
        <div class="section-container">
          <h4 class="section-title"><span>Recent Post</span></h4>
          <ul class="sidebar-recent-post">
            <li>
              <div class="info">
                <h4 class="recent-post-link"><a routerLink="/orasada-song-view">திரைப்படம் எதிலும் இடம்பெறாமல் இணையத்தை
                    கலக்கும் பாடல்</a>
                </h4>
                <div class="date">13 February 2019</div>
              </div>
            </li>
            <!-- <li>
              <div class="info">
                <h4 class="title"><a href="#">Vestibulum a cursus arcu.</a></h4>
                <div class="date">16 December 2018</div>
              </div>
            </li>
            <li>
              <div class="info">
                <h4 class="title"><a href="#">Nullam vel condimentum lectus. </a></h4>
                <div class="date">7 December 2018</div>
              </div>
            </li>
            <li>
              <div class="info">
                <h4 class="title"><a href="#">Proin in dui egestas libero posuere ullamcorper. </a></h4>
                <div class="date">20 November 2018</div>
              </div>
            </li>
            <li>
              <div class="info">
                <h4 class="title"><a href="#">Interdum et malesuada fames ac ante.</a></h4>
                <div class="date">5 November 2018</div>
              </div>
            </li> -->
          </ul>
        </div>
        <!-- end section-container -->
        <!-- begin section-container -->
        <div class="section-container">
          <h4 class="section-title"><span>Follow Us</span></h4>
          <ul class="sidebar-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
        <!-- end section-container -->
      </div>
      <!-- end col-3 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end #content -->
<!-- begin footer -->
<app-kick-footer></app-kick-footer>
<!-- end footer -->
<!-- begin theme panel -->
<!-- <app-kick-theme></app-kick-theme> -->
<!-- end theme panel -->